[Desktop Entry]
Name=Qt VirtManager
GenericName=Qt Virtual Machine Manager
Type=Application
Categories=Development;System;Qt;
Icon=/usr/share/qt-virt-manager/icons/256x256/apps/virtual-engineering.png
Exec=qt-virt-manager
Terminal=false
StartupNotify=true
